h1 {
    color: red;
}

p {
    color: blue
}

#chosen {
    text-decoration: underline;
}

#yellow{
    color: yellow
}

.border {
    border: 1px solid black
}

h1, p {
    font-weight: bold;
    font-style: italic
}

div p {
    color: white;
    background-color: black;
}

p:hover {
    transform: rotate(180deg);
}

p::first-letter {
    font-size: 2rem;
}